# Basic ones
/.env
/.nyc_output
/coverage
/node_modules

# Please..
.DS_Store
npm-debug.log
yarn-error.log

# We're a library, so please, also no lock files
/package-lock.json
/yarn.lock

# Generated types
*.d.ts

# Library specific ones
